/.idea
/__pycache__
/venv
/GameCollectionManager/__pycache__
/GameCollectionManager/tools/__pycache__
/GameCollectionManager/widgets/__pycache__
/GameCollectionManager/data/html
/GameCollectionManager/data/images/covers/*.jpg
/GameCollectionManager/data/log/gcm.log
